<h1>
  Add a new coach
</h1>


<hr>

<form action="/create_coach" method="post">

  <div class="form-group">
    <label for="coach_id">
      Coach
    </label>

    <%= select_tag(:coach_id, options_from_collection_for_select(Teacher.all, :id, :name, @coach.coach_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create coach
  </button>
</form>

<hr>

<a href="/coaches">
  Go back
</a>
