<h1>
  Add a new plan
</h1>


<hr>

<!-- Form plan start -->
<form action="/create_plan" method="post">
<!-- Form plan end -->

  <!-- Label and input for plan_description start -->
  <div class="form-group">
    <label for="plan_description">
      Plan description
    </label>

    <!-- Input for plan_description start -->
    <input type="text" id="plan_description" name="plan_description" class="form-control">
    <!-- Input for plan_description end -->
  </div>
  <!-- Label and input for plan_description end -->

  <!-- Label and input for coach_id start -->
  <div class="form-group">
    <label for="coach_id">
      Coach
    </label>

    <!-- Input for coach_id start -->
    <%= select_tag(:coach_id, options_from_collection_for_select(Teacher.all, :id, :name, @plan.coach_id), :class => "form-control") %>
    <!-- Input for coach_id end -->
  </div>
  <!-- Label and input for coach_id end -->

  <!-- Label and input for plan_owner_id start -->
  <div class="form-group">
    <label for="plan_owner_id">
      Plan owner
    </label>

    <!-- Input for plan_owner_id start -->
    <input type="text" id="plan_owner_id" name="plan_owner_id" class="form-control">
    <!-- Input for plan_owner_id end -->
  </div>
  <!-- Label and input for plan_owner_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create plan
  </button>
</form>

<hr>

<a href="/plans">
  Go back
</a>
