<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Coaches

    <a data-toggle="collapse" href="#teacher_coaches_new_form">
      Add coach
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @teacher.coaches.each do |coach| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/coaches/<%= coach.id %>">
          <%= coach.name %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
